{% set element = element is defined ? element : 'single-product' %}
{% if switched is defined and switched == true %}
{% set order = ['description', 'image'] %}
{% else %}
{% set order = ['image', 'description'] %}
{% endif %}
{% set padding = ['0 8px 20px 0px', '0 0px 20px 8px'] %}
<table   border="0"   cellpadding="0"

   cellspacing="0" class="mobile-full-width product-card-manual"
   width="100%"  data-bsi-element="{{ element }}"
   {# data-bsi-element-part="product" #}
   >
   <tr>
      <td height="353" bgcolor="#ffffff" style="height:353px;">

         <table align="left"
            bgcolor="#ffffff"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            class="mobile-full-width"
            >
            {% for index, element in order %}
            {% if element == 'image' %}
            <tr>
               <td colspan="3"
                  align="center"
                  valign="top"  bgcolor="#ffffff" style="padding-top: 20px;padding-bottom: 20px;">

                  <a href="{{ company.website }}{{ trackingLinkSuffix }}"
                     target="_blank"
                     style="cursor:pointer;outline: none;color: #000; border: 0px;" class="product-link">
                  <img alt="BSI"
                     border="0"
                     max-width="160"
                     class="product-image"
                     width="160"
                     src="{{
                     src
                     ?
                     : bsi_cx_asset(
                     '../../../../../resources/whitelabel/product-list-item1.png'
                     )
                     }}"

                     style="display: block; width: 160px;max-width:160px; height: auto;" />

                  </a>
               </td>
            </tr>
            {% endif %}
            {% if element == 'description' %}
            <tr>
               <td align="left"  valign="top">
                  <table align="left"
                     bgcolor="#ffffff"
                     border="0"
                     cellpadding="0"
                     cellspacing="0"
                     style="width: 100%;">
                     <tbody>
                        <tr>
                           <td align="left"

                              style="padding-top:20px;padding-left: 24px;padding-right:24px;font-weight:bold;">
                              <a
                                 style="cursor:pointer;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal; color: #000000; font-size: 16px;line-height:20px;margin: 0;outline: none;text-decoration: none;"

                                 href="{{ company.website }}{{ trackingLinkSuffix }}"
                                 target="_blank"
                                 data-bsi-product-group="1"
                                 data-bsi-product-name="">
                              Quality Geschirspulmittel
                              </a>
                           </td>
                        </tr>

                        <tr><td height="8" style="height: 8px;"></td></tr>
                        <tr>
                           <td align="left"
                              style="padding-bottom:20px;padding-left: 24px;padding-right:24px;">


                              <div data-bsi-product-description=""
                                 data-bsi-product-group="{{
                                 productIndex
                                 }}"

                                 style="font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:400; font-style:normal; color: #666666; font-size: 14px;line-height:16px;margin: 0;">


                                 ohne Chlor, 10l
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td align="left"
                              valign="middle"
                              bgcolor="#ffffff"
                              style="padding-left:24px;padding-right:24px;padding-bottom:24px;vertical-align:middle;">
                              <table border="0"
                                 cellpadding="0"
                                 cellspacing="0"
                                 align="left" valign="middle" style="vertical-align:middle;">
                                 <tbody>
                                    <tr>
                                       <td style="vertical-align: top;padding-right:5px;" align="left">
                                          <div
                                             data-bsi-product-group="1"
                                             data-bsi-product-priceunit=""

                                             style="color:#e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;color: #e20026;font-size: 16px;text-align: left;line-height:20px;">

                                             Kg
                                          </div>
                                       </td>
                                       <td style="vertical-align: top;padding-right: 5px;" align="left">

                                          <div style="font-size:32px;margin:0;color:#e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #e20026;text-align: left;"
                                             data-bsi-product-group="1"
                                             data-bsi-product-remove-if-regular-price="">
                                             <span data-bsi-product-group="1"
                                                data-bsi-product-special-price-franken="">
                                             <span style="font-size:32px;color:#e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;color: #e20026;line-height: 37px;">
                                                4
                                             </span>
                                             </span>
                                          </div>
                                       </td>
                                       <td align="left" style="vertical-align: top;">
                                          <div style="font-size:16px;color:#e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:bold; font-style:normal;color: #e20026;vertical-align: top;text-align: left;"
                                             data-bsi-product-group="1"
                                             data-bsi-product-remove-if-regular-price="">
                                             <span data-bsi-product-group="1"
                                                data-bsi-product-special-price-rappen="">
                                             <sup style="font-size:16px;color:#e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;color: #e20026;line-height:20px;">
                                                35
                                             </sup>
                                             </span>

                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>


                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            {% endif %}
            {% endfor %}
         </table>
      </td>
   </tr>

</table>

