<div data-bsi-element="nl-spalten-auto" style="border-width: 0px !important;max-width:740px;margin:auto">
    {# <table border="0"
        cellpadding="0"
        cellspacing="0"
         align="center"
        width="100"
        bgcolor="#ffffff" class="mobile-full-width">
        <tbody>
            <tr>
                <td class="padding-mobile"> #}
                    <table border="0"
                        cellpadding="0"
                        bgcolor="#f4f4f4"
                        cellspacing="0"
                        class="mobile-full-width"
                        align="center"
                        width="740">
                        <tbody>
                            <tr>
                                <td width="540" class="padding-mobile"
                                    style="padding-bottom: 20px;padding-top: 20px;">
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="mobile-full-width"
                                        width="540"
                                        bgcolor="{{
                                        styles['background-content']
                                        }}">
                                        <tbody>
                                            <tr>
                                                <td 
                                                    data-bsi-element-part="formatted-text">
                                                    <p 
                                                        style="font-family: 'Transgourmet','Trebuchet MS', 'sans-serif';font-weight:bold; font-style:normal; color: #000000;line-height:29px; font-size: 25px;padding: 20px 20px 20px 0">
                                                        {{
                                                            properties.trans.product_list_title
                                                        }}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        
                                                        width="540"
                                                        bgcolor="{{
                                                        styles['background-content']
                                                        }}">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    valign="top"
                                                                    width="540"
                                                                    style="min-width: 540px"
                                                                    >
                                                                    <table align="left"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        >
                                                                        <tr>
                                                                            <td width="246"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-left-auto">
                                                                                {% include '../../elements/single-product-automated/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="8"
                                                                     >
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <table align="right"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                     >
                                                                        <tr>
                                                                            <td width="246"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-right-auto">
                                                                                {% include '../../elements/single-product-automated/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                              <tr><td height="48" style="line-height: 1;"></td></tr>
                                                <tr>
                                                <td>
                                                    <table align="center"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="540"
                                                        bgcolor="{{
                                                        styles['background-content']
                                                        }}">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    valign="top"
                                                                    width="540"
                                                                    style="min-width: 540px"
                                                                    >
                                                                    <table align="left"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        >
                                                                        <tr>
                                                                            <td width="246"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-left-auto-2">
                                                                                {% include '../../elements/single-product-automated/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="8"
                                                                     >
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <table align="right"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                     >
                                                                        <tr>
                                                                            <td width="246"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-right-auto-2">
                                                                                {% include '../../elements/single-product-automated/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
         
                {# </td>
            </tr>
        </tbody>
    </table> #}
</div>
