<div data-bsi-element="nl-social-follow"
    style="border-width: 0px !important;margin-top: 0px !important;margin-bottom: 0px !important;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        bgcolor="#ffffff" class="mobile-full-width">
        <tbody>
            <tr>
                <td width="100%">
                    <table align="center"
                        bgcolor="#f4f4f4"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="540"
                        style="border:0;" class="mobile-full-width">
                        <tbody>
                            <tr>
                                <td align="left" width="100%"
                                    style="font-size:0;padding-bottom:50px;">
                                    <table height="36" bgcolor="#f4f4f4" class="mobile-full-width"
                                        align="left"
                                        style="width: 45%;vertical-align:top;">
                                        <tr>
                                            <td
                                                data-bsi-social-follow="facebook"
                                                align="left"
                                                valign="middle"
                                                width="32"
                                                height="32"
                        >
                                                <a data-bsi-element-part="image" href="[Facebook|url=https://www.facebook.com/prodegach]"
                                                    style="text-decoration:none;border:0">
                                                    <img src="{{
                                                        src
                                                            ?
                                                            : bsi_cx_asset(
                                                                '../../../../../resources/whitelabel/icon-facebook.png'
                                                            )
                                                        }}"
                                                        alt="#"
                                                        border="0"
                                                        width="32"
                                                        style="width:32px;" />
                                                </a>
                                            </td>
                                            <td align="center"
                                                valign="middle"
                                                width="20"
                                                height="30px">
                                                &#160;
                                            </td>
                                            <td
                                                data-bsi-social-follow="instagram"
                                                align="left"
                                                valign="middle"
                                                width="32"
                                                height="32"
                                                >
                                                <a data-bsi-element-part="image" href="[Instagram|url=https://www.instagram.com/transgourmetprodega]"
                                                    style="text-decoration:none;border:0">
                                                    <img src="{{
                                                        src
                                                            ?
                                                            : bsi_cx_asset(
                                                                '../../../../../resources/whitelabel/icon-instagram.png'
                                                            )
                                                        }}"
                                                        alt="#"
                                                        border="0"
                                                        width="32"
                                                        style="width:32px;" />
                                                </a>
                                            </td>
                                            <td align="center"
                                                valign="middle"
                                                width="20"
                                                height="30px">
                                                &#160;
                                            </td>
                                            <td
                                                data-bsi-social-follow="youtube"
                                                align="left"
                                                valign="middle"
                                                width="32"
                                                height="32"
                                               >
                                                <a data-bsi-element-part="image" href="[Youtube|url=https://www.transgourmet.ch/youtube]"
                                                    style="text-decoration:none;border:0">
                                                    <img src="{{
                                                        src
                                                            ?
                                                            : bsi_cx_asset(
                                                                '../../../../../resources/whitelabel/icon-youtube.png'
                                                            )
                                                        }}"
                                                        alt="#"
                                                        border="0"
                                                        width="32"
                                                        style="width:32px;" />
                                                </a>
                                            </td>
                                            <td align="center"
                                                valign="middle"
                                                width="20"
                                                height="30">
                                                &#160;
                                            </td>
                                            <td
                                                data-bsi-social-follow="linkedin"
                                                align="left"
                                                valign="middle"
                                                width="32"
                                                height="32px"
                                               >
                                                <a data-bsi-element-part="image" href="[Linkedin|url=https://www.linkedin.com/company/transgourmet-schweiz-ag]"
                                                    style="text-decoration:none;border:0">
                                                    <img src="{{
                                                        src
                                                            ?
                                                            : bsi_cx_asset(
                                                                '../../../../../resources/whitelabel/icon-linkedin.png'
                                                            )
                                                        }}"
                                                        alt="#"
                                                        border="0"
                                                        width="32"
                                                        style="width:32px;" />
                                                </a>
                                            </td>

                                            <td align="center"
                                                valign="middle"
                                                width="20"
                                                height="30px">
                                                &#160;
                                            </td>
                                        </tr>
                                    </table>

                                    <table align="right" class="mobile-full-width footer-mob-padding"

                                        style="width: 45%;vertical-align:top;text-align:end">
                                        <tr>
                                            <td class="footer-mob-app-column">
                                                <a data-bsi-element-part="link"
                                                    data-bsi-link-fixed-inner-html
                                                    href="[Apple Store|url=https://apps.apple.com/ch/app/transgourmet-prodega/id1439801703]"
                                                    style="text-decoration:none;border:0">
                                                    <img data-bsi-element-part="image"
                                                        alt=""
                                                        border="0"
                                                        width="100"
                                                        src="{{
                                                        src
                                                            ?
                                                            : bsi_cx_asset(
                                                                '../../../../../resources/whitelabel/App-Store.png'
                                                            )
                                                        }}"
                                                        style="display: block; width: 100px;" />
                                                </a>
                                            </td>
                                            <td width="20"></td>
                                            <td align="right" class="footer-mob-align-text-left">
                                                <a data-bsi-element-part="link"
                                                    data-bsi-link-fixed-inner-html
                                                    href="[Google Store|url=https://play.google.com/store/apps/details?id=com.transgourmet.transgourmet]"
                                                    style="text-decoration:none;border:0">
                                                    <img data-bsi-element-part="image"
                                                        alt=""
                                                        border="0"
                                                        width="100"
                                                        src="{{
                                                        src
                                                            ?
                                                            : bsi_cx_asset(
                                                                '../../../../../resources/whitelabel/Google-Play.png'
                                                            )
                                                        }}"
                                                        style="display: block; width: 100px;" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>