<div data-bsi-element="nl-footer-text-top-abholen"
    style="border-width: 0px !important;">
    <table align="left"
            bgcolor="#f4f4f4"
            border="0"
            cellpadding="0"
            cellspacing="0" width="100%">
        <tr >
            <td style="padding-bottom: 30px;">
             <div 
                    data-bsi-element-part="formatted-text"
                    style="font-weight:400;color:#000000; font-size:20px;line-height:32px;">
                    {{ text
                        ?
                        : 'Das war es für diese Woche.Vielen Dank, dass Sie da sind.' }}
                </div>
                </td>
              
                </tr>
                <tr>
                <td style="padding-bottom: 20px;"> 
                <table align="left"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="mobilehide">
        <tbody>
            <tr>
                <td align="left">
                    <a data-bsi-element-part="link"
                        style="text-decoration: none;color: #e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;font-size: 20px;line-height:
23px;color: #e20026;"
                        href="{{ properties.trans.links.aktionen_prodega }}">
                          {{ properties.trans.aktionen }}
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center"
                    height="2"
                    style="vertical-align:bottom;height:2px;font-size:2px;mso-line-height-rule:exactly;line-height:2px;border-bottom: 2px solid #e20026;"></td>
            </tr>
        </tbody>
    </table></td></tr>
            <tr><td> <table align="left"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="mobilehide">
        <tbody>
            <tr>
                <td align="left" >
                    <a data-bsi-element-part="link"
                        style="text-decoration: none;color: #e20026;font-family: 'Transgourmet','Trebuchet MS','sans-serif';font-weight:700; font-style:normal;font-size: 20px;line-height:
23px;color: #e20026;"
                        href="{{ properties.trans.links.maerkte }}">
                           {{ properties.trans.maerkte }}
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center"
                    height="2"
                    style="vertical-align:bottom;height:2px;font-size:2px;mso-line-height-rule:exactly;line-height:2px;border-bottom: 2px solid #e20026;"></td>
            </tr>
        </tbody>
    </table>   </td></tr>
                             
 <tr>
 <td style="padding-top: 30px;">
    <div 
                    data-bsi-element-part="formatted-text"
                    style="font-weight:400;color:#000000; font-size:20px;line-height:32px;">
                    {{ text
                        ?
                        : 'Das war es für diese Woche.Vielen Dank, dass Sie da sind.' }}
                </div>
                </td>
                </tr>
              
               </td>
        </tr>
    </table>
</div>
