<div data-bsi-element="footer-links"
    style="text-decoration-color: #e20026;color:#e20026 !important;">
    <p style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;">
        <a data-bsi-element-part="link"
            class="footer-links"
            style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;"
            href="{{ properties.trans.links.impressum }}">
            {{ properties.trans.impressum }}
        </a> &nbsp;&#183;&nbsp;
        <a data-bsi-element-part="link"
            class="footer-links"
            style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;"
            href="{{ properties.trans.links.datenschutz }}">
            {{ properties.trans.datenschutz }}
        </a> &#160;&#183;&#160;
        <a data-bsi-element-part="link"
            class="footer-links"
            style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;"
            href="{{ properties.trans.links.einstellungen_aktualisieren }}">
            {{ properties.trans.einstellungen_aktualisiren }}
        </a> &#160;&#183;&#160;
        <a data-bsi-element-part="link"
            class="footer-links"
            style="font-size: 12px;text-decoration-color: #e20026;color:#e20026 !important;"
            href="{{ properties.trans.links.abmelden }}">
            {{ properties.trans.abmelden }}
        </a>
    </p>
</div>
