<div class="teaser-two-col block-wrapper" data-bsi-element="nl-spalten" style="border-width: 0px !important;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
         align="center"
        width="740"
        bgcolor="#f4f4f4" class="mobile-full-width">
        <tbody>
            <tr>
                <td>
                    <table border="0"
                        cellpadding="0"
                        bgcolor="#f4f4f4"
                        cellspacing="0"
                        class="mobile-full-width"
                        align="center"
                        width="540">
                        <tbody>
                            <tr>
                                <td width="540"
                                    class="devicewidthinner"
                                    style="padding-bottom: 20px;padding-top: 20px;">
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="mobile-full-width"
                                        width="100%"
                                        bgcolor="{{
                                        styles['background-content']
                                        }}">
                                        <tbody>
                                            <tr>
                                                <td class="pad20"
                                                    data-bsi-element-part="formatted-text">
                                                    <p class="fallback-font"
                                                        style="font-family: 'Transgourmet','Trebuchet MS', 'sans-serif';font-weight:bold; font-style:normal; color: #000000;line-height:29px; font-size: 25px;padding: 20px 20px 20px 0">
                                                        {{
                                                            properties.trans.product_list_title
                                                        }}
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="center"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        class="mobile-full-width"
                                                        width="540"
                                                        bgcolor="{{
                                                        styles['background-content']
                                                        }}">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    valign="top"
                                                                    width="520"
                                                                    style="min-width: 520px"
                                                                    >
                                                                    <table align="left"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="mobile-full-width">
                                                                        <tr>
                                                                            <td width="248"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-left">
                                                                                {% include '../../elements/single-product/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="8"
                                                                       class="mobile-full-width">
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <table align="right"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="mobile-full-width">
                                                                        <tr>
                                                                            <td width="248"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-right">
                                                                                {% include '../../elements/single-product/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {# <table width="540"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        height="22"
                        bgcolor="#e1e1e1">
                        <tbody>
                            <tr style="line-height:1px;">
                                <td height="22">
                                    <img src="{{
                                        src
                                            ?
                                            : bsi_cx_asset(
                                                '../../../../../resources/whitelabel/x.png'
                                            )
                                        }}"
                                        height="1" />
                                </td>
                            </tr>
                        </tbody>
                    </table> #}
                    {# <table border="0"
                        cellpadding="0"
                        bgcolor="#f4f4f4"
                        cellspacing="0"
                        class="devicewidth"
                        align="center"
                        width="540">
                        <tbody>
                            <tr>
                                <td width="520"
                                    class="devicewidthinner"
                                    style="padding-bottom: 20px;padding-top: 20px;">
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="devicewidthinner"
                                        width="100%"
                                        bgcolor="{{
                                        styles['background-content']
                                        }}">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table align="center"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        class="devicewidthinner"
                                                        width="520"
                                                        bgcolor="{{
                                                        styles['background-content']
                                                        }}">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    valign="top"
                                                                    width="520"
                                                                    class="devicewidthinner">
                                                                    <table align="left"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="devicewidthinner">
                                                                        <tr>
                                                                            <td width="248"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-left2"
                                                                                data-bsi-dropzone-allowed-elements="single-product"
                                                                                data-bsi-dropzone-max-number-of-elements="1">
                                                                                {% include '../../elements/single-product/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="8"
                                                                        class="mobilehide">
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="2"
                                                                        bgcolor="#f4f4f4"
                                                                        class="product-border">
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table align="right"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="devicewidthinner">
                                                                        <tr>
                                                                            <td width="248"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-right2"
                                                                                data-bsi-dropzone-allowed-elements="single-product"
                                                                                data-bsi-dropzone-max-number-of-elements="1">
                                                                                {% include '../../elements/single-product/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {# <table width="540"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        height="22"
                        bgcolor="#e1e1e1">
                        <tbody>
                            <tr style="line-height:1px;">
                                <td height="22">
                                    <img src="{{
                                        src
                                            ?
                                            : bsi_cx_asset(
                                                '../../../../../resources/whitelabel/x.png'
                                            )
                                        }}"
                                        height="1" />
                                </td>
                            </tr>
                        </tbody>
                    </table> #}
                    {#  <table border="0"
                        cellpadding="0"
                        bgcolor="#f4f4f4"
                        cellspacing="0"
                        class="devicewidth"
                        align="center"
                        width="540">
                        <tbody>
                            <tr>
                                <td width="520"
                                    class="devicewidthinner"
                                    style="padding-bottom: 20px;padding-top: 20px;">
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        class="devicewidthinner"
                                        width="100%"
                                        bgcolor="{{
                                        styles['background-content']
                                        }}">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table align="center"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        class="devicewidthinner"
                                                        width="520"
                                                        bgcolor="{{
                                                        styles['background-content']
                                                        }}">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    valign="top"
                                                                    width="520"
                                                                    class="devicewidthinner">
                                                                    <table align="left"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="devicewidthinner">
                                                                        <tr>
                                                                            <td width="248"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-left3"
                                                                                data-bsi-dropzone-allowed-elements="single-product"
                                                                                data-bsi-dropzone-max-number-of-elements="1">
                                                                                {% include '../../elements/single-product/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="8"
                                                                        class="mobilehide">
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        align="left"
                                                                        width="2"
                                                                        bgcolor="#f4f4f4"
                                                                        class="product-border">
                                                                        <tbody>
                                                                            <tr style="line-height:1px;">
                                                                                <td height="1">
                                                                                    <img src="{{
                                                                                        src
                                                                                            ?
                                                                                            : bsi_cx_asset(
                                                                                                '../../../../../resources/whitelabel/x.png'
                                                                                            )
                                                                                        }}"
                                                                                        height="1" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table align="right"
                                                                        border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        class="devicewidthinner">
                                                                        <tr>
                                                                            <td width="248"
                                                                                valign="top"
                                                                                data-bsi-dropzone="nl-spalten-right3"
                                                                                data-bsi-dropzone-allowed-elements="single-product"
                                                                                data-bsi-dropzone-max-number-of-elements="1">
                                                                                {% include '../../elements/single-product/template.twig' %}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table> #}
                </td>
            </tr>
        </tbody>
    </table>
</div>
